@model ClickServ2022.Models.Equipamento

@{
    ViewData["Title"] = "Details";
}

<div>
    <hr />
    <dl class="row">
    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fabricante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fabricante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NSerie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NSerie)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.EquipamentoID },new { @class = "btn btn-primary"})
    @Html.ActionLink("Voltar", "Details", "Cliente", new { id = Model.Cliente.ClienteID},new { @class = "btn btn-primary"})
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Ordem de Servico
            </th>
            <th>
                Data
            </th>
            <th>
                Valor
            </th>
             <th>
                Defeito
            </th>
            <th>
                Relatorio
            </th>
            <th>
                Colaborador
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            
        }
        @foreach (var item in Model.OrdemServicos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrdemServicoID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.Defeito)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Relatorio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Colaborador)
                </td>
            </tr>
        }
    </tbody>
</table>