@model ClickServ2022.Models.Equipamento

@{
    ViewData["Title"] = "Details";
}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="Cliente.ClienteID" class="form-control" type="hidden" />
    </div>
    <div class="form-group">
        <input asp-for="EquipamentoID" class="form-control" type="hidden" />
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <select asp-for="Tipo" class="form-control" id="equip" onclick="loadFabricante()">
                <option value="@ViewBag.Tipo" selected="selected">@ViewBag.Tipo</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <select asp-for="Fabricante" class="form-control" id="fabri" onclick="loadModelo()">
                <option value="@ViewBag.Fabricante" selected="selected">@ViewBag.Fabricante</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <select asp-for="Modelo" class="form-control" id="model">
                <option value="@ViewBag.Modelo" selected="selected">@ViewBag.Modelo</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <input asp-for="NSerie" class="form-control" class="form-control" id="serie" />
            <span asp-validation-for="NSerie" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <input type="button" value="Editar" class="btn btn-warning" onclick="habilitar()" />
            <input type="submit" value="Salvar" class="btn btn-success" id="salvar" />
            @Html.ActionLink("Voltar", "Details", "Endereco", new { id = Model.Endereco.EnderecoID},new { @class = "btn btn-primary"})
        </div>
    </div>
</form>

</br>

<table id="tableOS" class="display table  table-hover">
    <thead>
        <tr class="table-primary table-sm" ">
            <th>
                O.S
            </th>
            <th>
                Data
            </th>
            <th>
                Valor
            </th>
            <th>
                Categoria
            </th>
            <th>
                Defeito
            </th>
            <th>
                Relatório
            </th>
            <th>
                Colaborador
            </th>
            <th>
                Observação
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrdemServicos)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrdemServicoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defeito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relatorio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colaborador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacao)
            </td>
            <td>
                <button class="btn btn-secondary duplicar" data-id="@item.OrdemServicoID"><i class="glyphicon glyphicon-duplicate"></i>Duplicar</button>
            </td>
            <td>
                <button class="btn btn-warning edit" data-id="@item.OrdemServicoID"><i class="glyphicon glyphicon-edit"></i>Editar</button>
            </td>
            <td>
                <button class="btn btn-danger delete" data-id="@item.OrdemServicoID"><i class="glyphicon glyphicon-trash"></i>Deletar</button>
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="modal" id="modal"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src="~/js/select-equipamento.js"></script>
<script src="~/js/habilitar-botao-equipamento.js"></script>
<script src="~/js/modal-equipamento.js"></script>



