@model ClickServ2022.Models.Cliente

@{

    ViewData["Title"] = "Details";
}

</br>
<div>
     <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <input asp-for="ClienteID" class="form-control" type="hidden" />

            <div class="row">
            <div class="col">
                <input asp-for="Nome" class="form-control" placeholder="Nome" required id="nome"/>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="col">
                <input asp-for="CPF" class="form-control" placeholder="CPF" id="cpf"/>
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="col">
                <input type="button" value="Editar" class="btn btn-warning" onclick="habilitar()" />
                <input type="submit" value="Salvar" class="btn btn-success" id="salvar" />
                 @Html.ActionLink("Voltar", "Index", null,null, new { @class = "btn btn-primary"})
            </div>
            </div>
        </form>
</div>


</br>
</br>
<table class="table">
    <thead>
        <tr>
            <th>
                Celular
            </th>
            <th>
                Telefone
            </th>
            <th>
                E-mail
            </th>
            <th>
                <div>
                    @Html.ActionLink("Novo", "Create","Contato", new { id = Model.ClienteID },new { @class = "btn btn-primary"})
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contatos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Celular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", "Contato", new { id=item.ContatoID },new { @class = "btn btn-warning"})
                    @Html.ActionLink("Deletar", "Delete", "Contato", new { id=item.ContatoID },new { @class = "btn btn-danger " })
                </td>
            </tr>
        }
    </tbody>
</table>

</br>
<table class="table">
    <thead>
        <tr>
            <th>
                Logradouro
            </th>
            <th>
                Complemento
            </th>
            <th>
                Cidade
            </th>
            <th>
                @Html.ActionLink("Novo", "AddDados", new { id = Model.ClienteID },new { @class = "btn btn-primary"})
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Enderecos)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Logradouro, "Details", "Endereco",  new { id=item.EnderecoID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Complemento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
document.getElementById("salvar").disabled = true;
document.getElementById("nome").disabled = true;
document.getElementById("cpf").disabled = true;

function desabilitar(){
document.getElementById("salvar").disabled = true;
document.getElementById("nome").disabled = true;
document.getElementById("cpf").disabled = true;
}

function habilitar(){
    document.getElementById("salvar").disabled = false;
    document.getElementById("nome").disabled = false;
document.getElementById("cpf").disabled = false;
}
</script>