@model ClickServ2022.Models.Cliente

@{

    ViewData["Title"] = "Details";
}

<style>

    * {
        box-sizing: border-box
    }

    /* Style the tab */
    .tab {
        float: left;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        width: 30%;
        height: 300px;
    }

        /* Style the buttons that are used to open the tab content */
        .tab button {
            display: block;
            background-color: inherit;
            color: black;
            padding: 22px 16px;
            width: 100%;
            border: none;
            outline: none;
            text-align: left;
            cursor: pointer;
            transition: 0.3s;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current "tab button" class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        float: left;
        padding: 0px 12px;
        border: 1px solid #ccc;
        width: 70%;
        border-left: none;
        height: 300px;
    }

</style>

<div class="container p-3 my-3 border">
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ClienteID" class="form-control" type="hidden" />

            <div class="row">
                <div class="col">
                    <input asp-for="Nome" class="form-control" placeholder="Nome" required id="nome" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="col">
                    <input asp-for="CPF" class="form-control" placeholder="CPF" id="cpf" />
                    <span asp-validation-for="CPF" class="text-danger"></span>
                </div>
                <div class="col">
                    <input type="button" value="Editar" class="btn btn-warning" onclick="habilitar()" />
                    <input type="submit" value="Salvar" class="btn btn-success" id="salvar" />
                    @Html.ActionLink("Voltar", "Index", null,null, new { @class = "btn btn-primary"})
                </div>
            </div>
        </form>
    </div>
</div>

</br>
<div class="tab">
    <button class="tablinks" onclick="openDados(event, 'Contato')" id="defaultOpen">CONTATO</button>
    <button class="tablinks" onclick="openDados(event, 'Endereco')">ENDEREÇO</button>
</div>

<div id="Contato" class="tabcontent">
    <div>
        @Html.ActionLink("Novo Contato", "Create","Contato", new { id = Model.ClienteID },new { @class = "btn btn-primary"})
    </div>
    <table class="table">
        <tbody>
            @foreach (var item in Model.Contatos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Celular)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <button class="btn btn-warning edit" data-id="@item.ContatoID"><i class="glyphicon glyphicon-edit"></i>Editar</button>
                        <button class="btn btn-danger delete" data-id="@item.ContatoID"><i class="glyphicon glyphicon-trash"></i>Deletar</button>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>

<div class="modal" id="modal"></div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script>
        $(".edit").click(function () {
        var id = $(this).attr("data-id");

        $("#modal").load("/Contato/Edit/" + id, function () {
            $("#modal").modal();
        })
    });

        $(".delete").click(function () {
        var id = $(this).attr("data-id");

        $("#modal").load("/Contato/Delete/" + id, function () {
            $("#modal").modal();
        })
    });
</script>



<div id="Endereco" class="tabcontent">
    <div>
        @Html.ActionLink("Novo Endereço", "AddDados", new { id = Model.ClienteID },new { @class = "btn btn-primary"})
    </div>
    <table class="table">
        <tbody>
            @foreach (var item in Model.Enderecos)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Logradouro, "Details", "Endereco",  new { id=item.EnderecoID })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Complemento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cidade)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function openDados(evt, cityName) {
      // Declare all variables
      var i, tabcontent, tablinks;

      // Obter todos os elementos com class="tabcontent" e escondê-los
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

    // Pega todos os elementos com class="tablinks" e remove a classe "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      // Mostre a guia atual e adicione uma classe "ativa" ao link que abriu a guia
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }

    // Pega o elemento com id="defaultOpen" e clica nele
    document.getElementById("defaultOpen").click();
</script>

<script>
    document.getElementById("salvar").disabled = true;
    document.getElementById("nome").disabled = true;
    document.getElementById("cpf").disabled = true;

    function desabilitar(){
    document.getElementById("salvar").disabled = true;
    document.getElementById("nome").disabled = true;
    document.getElementById("cpf").disabled = true;
    }

    function habilitar(){
        document.getElementById("salvar").disabled = false;
        document.getElementById("nome").disabled = false;
    document.getElementById("cpf").disabled = false;
    }
</script>