@model ClickServ2022.Models.Cliente

@{

    ViewData["Title"] = "Details";
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
    </dl>
</div>

<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ClienteID },new { @class = "btn btn-primary"})
    @Html.ActionLink("Voltar", "Index", null,null, new { @class = "btn btn-primary"})
</div>

</br>
<table class="table">
    <thead>
        <tr>
            <th>
                Celular
            </th>
            <th>
                Telefone
            </th>
            <th>
                E-mail
            </th>
            <th>
                <div>
                    @Html.ActionLink("Novo", "Create","Contato", new { id = Model.ClienteID },new { @class = "btn btn-primary"})
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contatos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Celular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", "Contato", new { id=item.ContatoID },new { @class = "btn btn-primary"})
                    @Html.ActionLink("Deletar", "Delete", "Contato", new { id=item.ContatoID },new { @class = "btn btn-danger " })
                </td>
            </tr>
        }
    </tbody>
</table>



</br>
<table class="table">
    <thead>
        <tr>
            <th>
                Logradouro
            </th>
            <th>
                Complemento
            </th>
            <th>
                Cidade
            </th>
            <th>
                @Html.ActionLink("Novo", "AddDados", new { id = Model.ClienteID },new { @class = "btn btn-primary"})
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Enderecos)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Logradouro, "Details", "Endereco",  new { id=item.EnderecoID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Complemento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
            </tr>
        }
    </tbody>
</table>


